.form {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.errorBox {
    position: relative;
}

.error {
    position: absolute;
    bottom: 21px;
    right: 18px;
    font-size: 12px;
    line-height: 1;
    color: red;
}

.input {
    border: 1px solid rgba(25, 26, 21, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 100%;
    height: 52px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 16px;
}

.inputWrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgba(25, 26, 21, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 100%;
    height: 52px;
    margin-bottom: 16px;
    position: relative;
    z-index: 10;

}

.dateInput {
    border: none;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--black);
}

.dateSvg {
    width: 20px;
}

.input:focus {
    border: 1px solid rgba(25, 26, 21, 0.1);
}

.dayTimeBox {
    display: flex;
    gap: 8px;
}

.textar {
    border: 1px solid rgba(25, 26, 21, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 100%;
    height: 116px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 40px;
    resize: none;
}

.sendBtn {
    background: var(--accent);
    border-radius: 30px;
    padding: 16px;
    width: 100%;
    height: 52px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    transition: background-color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.sendBtn:hover {
    background-color: var(--hover);
}