.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 48px 0 40px;
}

.reviewer {
    display: flex;
    margin-bottom: 16px;
    gap: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(84, 190, 150, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #54be96;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #191a15;
}

.ratingWrap {
    display: flex;
    gap: 8px;
    align-items: center;
}

.comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(25, 26, 21, 0.5);
}

.makeAp {
    border-radius: 30px;
    padding: 14px 32px;
    width: 227px;
    height: 48px;
    background-color: #54be96;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    transition: background-color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.makeAp:hover, .makeAp:focus {
    background-color: var(--hover);
}